body {
  padding: 10px;
  font-family: sans-serif;
}

.pics{
	width: 100%;
}
.uniform{
	overflow: hidden;
	height: 250px;
}
.color2{
	color: red;
	font-size :3em;
}

.ecolor{
	color: green;
	font-size :3em;
}
.placeHolder{
	margin-bottom: 10px;
	width: 350px;
	height: 250px;
}